{% load static 	%} 	
<!DOCTYPE html>
<html lang="en">
 
 {% include 'header.html' %}

  <body>
	{% include 'nav.html' %}
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="{{ product.product_img1.url }}" /></div>
						  <div class="tab-pane" id="pic-2"><img src="{{ product.product_img2.url }}" /></div>
						  <div class="tab-pane" id="pic-3"><img src="{{ product.product_img3.url }}" /></div>
						  <div class="tab-pane" id="pic-4"><img src="{{ product.product_img4.url }}" /></div>
						  

						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{ product.product_img1.url }}" width="100px" height="100px" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="{{ product.product_img2.url }}" width="100px" height="100px" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="{{ product.product_img3.url }}" width="100px" height="100px" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="{{ product.product_img4.url }}" width="100px" height="100px" /></a></li>
						  
						</ul>
						</div>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{ product.product_name }}</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description">{{product.product_description}}</p>
						<p class="product-description">{{product.other_product_details}}</p>
						<h4 class="price">current price: <span>Rs : {{product.product_price}}</span></h4>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						
						<h5 class="colors">colors:
							<span class="color {{product.product_color}}"></span>
							<span class="color blue"></span>
						</h5>
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button">add to cart</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
